.cover,
.content img {
  width: 100%;
  height: auto;
}

.content p,
.content pre {
  text-align: justify;
}

.content > p:first-of-type,
.content > h2:first-of-type {
  display: none;
}

.content > p:last-of-type {
  display: none;
}
