.tech--icon__javascript {
  background-color: #f7df1e;
}

.tech--icon__html5 {
  background-color: #e34f26;
}

.tech--icon__css3 {
  background-color: #1572b6;
}

.tech--icon__csharp {
  background-color: #239120;
}

.tech--icon__jenkins {
  background-color: #d24939;
}

.tech--icon__json {
  background-color: #000000;
}

.tech--icon__gnubash {
  background-color: #4eaa25;
}

.tech--icon__sonarqube {
  background-color: #4e9bcd;
}

.tech--icon__react {
  background-color: #61dafb;
}

.tech--icon__jest {
  background-color: #c21325;
}

.tech--icon__mongodb {
  background-color: #47a248;
}

.tech--icon__node-dot-js {
  background-color: #339933;
}

.tech--icon__twitter {
  background-color: #1da1f2;
}

.tech--icon__dev-dot-to {
  background-color: #0a0a0a;
}

.tech--icon__youtube {
  background-color: #ff0000;
}

.tech--icon__stackoverflow {
  background-color: #fe7a16;
}

.tech--icon__linkedin {
  background-color: #0077b5;
}
