.tech--icon__javascript {
  background-color: #f7df1e;
  color: #000000;
  fill: #000000;
}

.tech--icon__html5 {
  background-color: #e34f26;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__css3 {
  background-color: #1572b6;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__csharp {
  background-color: #239120;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__jenkins {
  background-color: #d24939;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__json {
  background-color: #000000;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__gnubash {
  background-color: #4eaa25;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__sonarqube {
  background-color: #4e9bcd;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__react {
  background-color: #61dafb;
  color: #000000;
  fill: #000000;
}

.tech--icon__jest {
  background-color: #c21325;
  color: #000000;
  fill: #000000;
}

.tech--icon__mongodb {
  background-color: #47a248;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__node-dot-js {
  background-color: #339933;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__twitter {
  background-color: #1da1f2;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__dev-dot-to {
  background-color: #0a0a0a;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__youtube {
  background-color: #ff0000;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__stackoverflow {
  background-color: #fe7a16;
  color: #ffffff;
  fill: #ffffff;
}

.tech--icon__linkedin {
  background-color: #0077b5;
  color: #ffffff;
  fill: #ffffff;
}
